@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Anton&family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Exile&family=Meie+Script&family=Monoton&family=Outfit:wght@100..900&family=Prata&family=Rubik+Vinyl&family=Share+Tech&family=WDXL+Lubrifont+TC&display=swap');

.active{
    background-color: hsl(330, 100%, 96%);
    border-color: hsl(330, 35%, 65%);
}

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;

    outline-color: #C586A5;

    border-radius: 4px;

}